body{
    height: 100vh;
    width: 100%;
    background-color:grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ctn{
    width: 350px;
    height: 400px;
    perspective: 1000px;  
    cursor: pointer;
}
.card{
    height: 400px;
    width: 350px;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d ;
}
.card:hover{
    transform: rotateY(180deg) rotateZ(180deg);
}
.front,
.back{
    height: 400px;
    width: 350px;
    position: absolute;
    backface-visibility: hidden;
}
.front{
    background-image: url(music.png);
    background-size: 150%;
    background-position:-140px -5px;
    backface-visibility: hidden;
}
.back{
    background-image: url(video.png);
    transform: rotateY(180deg) rotateZ(180deg);
    display: flex;
    justify-content: center;
    background-size: 200%;
    background-position: center;
}
p{
    color: chartreuse;
    position: absolute;
}