body{
    height: 100vh;
    width: 100%;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer{
    height: 400px;
    width: 400px;
    background-color: #f5d684;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.dot{
    position: absolute;
    width: px;
    height: 5px;
    background: transparent;
    margin-left: -60px;
    margin-top: -10px;
    border-radius: 100px 100px 0 0 ;
    border-left: 10px solid  #d86f45;
    border-right: 10px solid  #d86f45 ;
    border-top: 10px solid  #d86f45;
    transform: rotate(180deg);
}
.top1{
    position: absolute;
    height: 20px;
    width: 40px;
    margin-left: 0px;
    margin-bottom: 61px;
    background: transparent;
    border-radius: 100px 100px 0 0 ;
    border-left: 20px solid  #d86f45;
    border-right: 20px solid  #d86f45 ;
    border-top: 20px solid  #d86f45;
    
}
.bottom1{
    position: absolute;
    height: 40px;
    width: 80px;
    transform: rotate(180deg);
    margin-top: 39px;
    margin-left: -40px;
    background: transparent;
    border-radius: 100px 100px 0 0 ;
    border-left: 20px solid  #d86f45;
    border-right: 20px solid  #d86f45 ;
    border-top: 20px solid  #d86f45;
    
}
.top2{
    position: absolute;
    height: 60px;
    width: 120px;
    transform: rotate(180deg);
    margin-top: -101px;
    margin-left: 0px;
    background: transparent;
    border-radius: 100px 100px 0 0 ;
    border-left: 20px solid  #d86f45;
    border-right: 20px solid  #d86f45 ;
    border-top: 20px solid  #d86f45;
    transform: rotate(360deg);
    

}
.bottom2{
    height: 80px;
    width: 160px;
    background: transparent;
    margin-top: 79px;
    margin-left: -40px;
    border-radius: 100px 100px 0 0 ;
    border-left: 20px solid  #d86f45;
    border-right: 20px solid  #d86f45 ;
    border-top: 20px solid  #d86f45;
    transform: rotate(180deg);

    
    
    

}
.dot2{
    position: absolute;
    width: px;
    height: 5px;
    background: transparent;
    margin-left: -220px;
    margin-top: -36px;
    border-radius: 100px 100px 0 0 ;
    border-left: 10px solid  #d86f45;
    border-right: 10px solid  #d86f45 ;
    border-top: 10px solid  #d86f45;
}