*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    background:linear-gradient(45deg, rgb(42, 76, 187),rgb(71, 175, 135));  
    display: flex;
    align-items: center;
    justify-content: center;
}
.textbox{
    height: 400px;
    width: 650px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    font-weight: 700;
    
  
    
}
.text{
    background: linear-gradient(to right,rgb(194, 224, 19),rgb(141, 247, 3),rgb(180, 125, 62),rgb(255, 192, 231));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 50%;
}
.textbox2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width:400px;
    font-size: 22px;
    font-weight: 600;
}
.text2{
    background: radial-gradient(circle, gold,pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 50%;
}